.btnAzul{
    background-color: #155263;
    color: #fff;
}

.colNaranjaD{
    background-color: #FF6F3C;
}

.colNaranjaL{
    background-color: #FF9A3C;
}

.colAmarillo{
    background-color: #FFC93C;
}