.cuerpo {
    padding: 0; /* Elimina todo el relleno (padding) */
    margin-bottom: 30px;
}

.full-width-image {
    margin-top: 80px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

h2 {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 20px 0;
    margin-top: 80px;
}

.content-section {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Asegura que los elementos hijos tengan la misma altura */
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.vertical-image {
    width: 40%;
    height: auto;
    margin-right: 20px;
    object-fit: cover;
    border-radius: 8px;
}

.text-content {
    width: 55%;
    padding: 20px;
    border: 3px solid #FFC93C;
    background-color: #FFC93C;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
}

p {
    margin-top: 70px;
    font-size: 23px;
}

.text-beside-image {
    width: 50%;
    padding: 0 20px;
}

.cemetery-info {
    width: 50%; /* Ajustar tamaño del contenedor para alinearse con el carrusel */
    margin: 0 auto; /* Centrar el contenedor */
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 3px solid #FFC93C;
    background-color: #FFC93C;
    padding: 20px;
    border-radius: 8px;
}

.cemetery-info svg {
    margin-top: 50px;
    margin-bottom: 10px;
    width: 200px;
    height: 100px;
}

.cemetery-info p {
    margin: 5px 0;
}

#carouselExample {
    max-width: 50%;
    height: 50%;
    margin: 0 auto; /* Centrar el carrusel en pantallas grandes */
}

.carousel-inner {
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* moviles */
@media (max-width: 768px) {
    .vertical-image {
        width: 100%;
        box-sizing: border-box; /* Asegura que el padding se incluya correctamente */
    }

    .cemetery-info {
        padding-left: 2px;
        padding-right: 2px;
        box-sizing: border-box;
    }

    /* Asegúrate de que el padding se aplique a los elementos que realmente lo necesitan */
    .cuerpo,
    .content-section,
    .text-content,
    #carouselExample,
    .full-width-image,
    h2,
    .carousel-inner,
    .carousel-item img {
        padding-left: 2px;
        padding-right: 2px;
        box-sizing: border-box;
    }
}

/* Media query para pantallas medianas */
@media (min-width: 768px) and (max-width: 1399px) {
    .cuerpo {
        padding: 0 2px;
    }

    .content-section {
        width: 100%;
        padding: 0 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .vertical-image {
        width: 100% !important;
        height: auto;
        margin-bottom: 20px;
        padding-left: 2px !important;
        padding-right: 2px !important;
        object-fit: cover;
    }

    .cemetery-info {
        padding-left: 2px;
        padding-right: 2px;
        margin-top: 45px;
        width: 100%;
        border: 3px solid #FFC93C;
        background-color: #FFC93C;
        border-radius: 8px;
    }

    .text-content {
        width: 100%;
        padding: 20px 2px;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FFC93C;
        border: 3px solid #FFC93C;
        box-sizing: border-box;
    }
}