.cuerpo {
    padding: 0; /* Elimina todo el relleno (padding) */
    margin-bottom: 30px;
}
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}
.navbar {
    padding: 8px 16px;
    border-radius: 15px;
    margin: 10px 5px 5px 5px;
}

h1{
    margin-top: 50px;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 2rem;
}

.full-width-image {
    margin-top: 8px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

h2 {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    text-align: center;
    margin: 20px 0;
    margin-top: 80px;
}

.content-section {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Asegura que los elementos hijos tengan la misma altura */
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.vertical-image {
    width: 40%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.text-content {
    width: 55%;
    padding: 20px;
    border: 3px solid #FFC93C;
    background-color: #FFC93C;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
}

p {
    margin-top: 70px;
    font-size: 23px;
}

.text-beside-image {
    width: 50%;
    padding: 0 20px;
}

.cemetery-info {
    width: 50%; /* Ajustar tamaño del contenedor para alinearse con el carrusel */
    margin: 0 auto; /* Centrar el contenedor */
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 3px solid #FFC93C;
    background-color: #FFC93C;
    padding: 20px;
    border-radius: 8px;
}
.cemetery-icon{
    width: 100px;
}
.cemetery-info p {
    margin: 5px 0;
}

#carouselExample {
    max-width: 50%;
    height: 50%;
    margin: 0 auto; /* Centrar el carrusel en pantallas grandes */
}

.carousel-inner {
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Media queries para móviles */
@media (max-width: 768px) {
    .cuerpo,
    .content-section,
    .text-content,
    .cemetery-info,
    #carouselExample,
    .full-width-image,
    h2,
    .carousel-inner,
    .carousel-item img,
    .content-section *,
    .cemetery-info *,
    .text-content * {
        padding-left: 2px !important; /* Añade relleno (padding) lateral de 2px */
        padding-right: 2px !important; /* Añade relleno (padding) lateral de 2px */
        box-sizing: border-box; /* Asegura que el relleno se incluya en el tamaño total del elemento */
    }

    .content-section {
        flex-direction: column;
        align-items: center;
        width: 100%; /* Asegura que la sección ocupe todo el ancho disponible */
    }

    .vertical-image {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .text-content {
        text-align: center;
        width: 100%;
        padding: 0 2px; /* Ajustar el relleno para mantener consistencia */
    }

    .carousel-item img {
        width: 100%;
        height: auto; /* Ajustar altura automáticamente */
        margin: 0 auto; /* Centrar imagen */
    }

    p {
        font-size: 18px; /* Ajustar tamaño de fuente */
    }

    h2 {
        font-size: 24px; /* Ajustar tamaño de fuente */
    }

    .cemetery-info {
        width: 100%; /* Ajustar tamaño del contenedor para pantallas móviles */
        margin: 20px 0; /* Espaciado arriba y abajo */
    }

    .cemetery-info svg {
        width: 150px; /* Ajustar tamaño del SVG */
        height: auto; /* Ajustar altura automáticamente */
        margin: 20px 0; /* Espaciado arriba y abajo */
    }

    #carouselExample {
        max-width: 100%; /* Ajustar ancho máximo */
        margin: 0 auto; /* Centrar el carrusel */
    }
}
@media (min-width: 768px) and (max-width: 1391px) {
    .cuerpo,
    .content-section,
    .text-content,
    .cemetery-info,
    #carouselExample,
    .full-width-image,
    h2,
    .carousel-inner,
    .carousel-item img,
    .content-section *,
    .cemetery-info *,
    .text-content * {
        padding-left: 2px !important; /* Añade relleno (padding) lateral de 2px */
        padding-right: 2px !important; /* Añade relleno (padding) lateral de 2px */
        box-sizing: border-box; /* Asegura que el relleno se incluya en el tamaño total del elemento */
    }

    .content-section {
        flex-direction: column;
        align-items: center;
        width: 100%; /* Asegura que la sección ocupe todo el ancho disponible */
    }

    .vertical-image {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .text-content {
        text-align: center;
        width: 100%;
        padding: 0 2px; /* Ajustar el relleno para mantener consistencia */
    }

    .carousel-item img {
        width: 100%;
        height: auto; /* Ajustar altura automáticamente */
        margin: 0 auto; /* Centrar imagen */
    }

    p {
        font-size: 18px; /* Ajustar tamaño de fuente */
    }

    h2 {
        font-size: 24px; /* Ajustar tamaño de fuente */
    }

    .cemetery-info {
        width: 100%; /* Ajustar tamaño del contenedor para pantallas móviles */
        margin: 20px 0; /* Espaciado arriba y abajo */
    }

    .cemetery-info svg {
        width: 150px; /* Ajustar tamaño del SVG */
        height: auto; /* Ajustar altura automáticamente */
        margin: 20px 0; /* Espaciado arriba y abajo */
    }

    #carouselExample {
        max-width: 100%; /* Ajustar ancho máximo */
        margin: 0 auto; /* Centrar el carrusel */
    }
}